extends ../_component/layout/layout

block head 
  -
    var pageTitle = "Contact Us"
    var pageDescription = "Lets have a chat over a beer!"
    var pageAuthor = "Iosif Screpciuc"
    var pageDate = "21/06/2021"
    
block content 
  .grid 
    .row 
      h1 Contact Page
