.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  &__load-more {
    padding: 13px;
    border-radius: 15px;
    border: 0;
    background-color: #182629;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
}
