.card {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  margin-top: 83px;
  &__name {
    font-size: 18px;
    padding-bottom: 10px;
  }

  &__description {
    padding-bottom: 30px;
    font-size: 13px;
    flex-grow: 1;
    line-height: 2;
  }

  &__wrapper {
    padding: 25px;
    background-color: #2897b1;
    position: relative;
    margin-top: 90px;
  }

  &__image {
    // 200 / 446 = 0.4484304932735426
    padding-top: 44.84%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }

  &__icon--thick,
  &__icon--thin {
    position: absolute;
    top: 27px;
    right: 18px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  &__icon--thick {
    background-image: url(#{$baseUrl}asset/image/heart-thin-white-32.png);
  }

  &__icon--thin {
    background-image: url(#{$baseUrl}asset/image/heart-thin-32.png);
  }
}
