extends ../_component/layout/layout

block head
  -
    var pageTitle = "Beers Page"
    var pageDescription = "Best beers in town"
block content 
  .grid 
    .row 
      .beer
        h1 Beers Page
